USE [SQLTrigerid]
GO
/****** Object:  Trigger [dbo].[linnaKustutamine]    Script Date: 13.04.2026 09:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Trigger [dbo].[linnaKustutamine]
ON [dbo].[linnad]
FOR DELETE
AS
INSERT INTO logi(kuupaev, andmed, kasutaja)
SELECT
getdate(), 
CONCAT ('kustutatud linn:', deleted.linnanimi, 
'rahvaarv:', deleted.rahvaarv, 'id:', deleted.linnId),
SYSTEM_USER
From deleted;