USE [SQLTrigerid]
GO
/****** Object:  Trigger [dbo].[linnaUuendamine]    Script Date: 13.04.2026 09:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Trigger [dbo].[linnaUuendamine]
ON [dbo].[linnad]
FOR UPDATE
AS
INSERT INTO logi(kuupaev, andmed, kasutaja)
SELECT
getdate(), 
CONCAT ('vana linn:', d.linnanimi, 
'rahvaarv:', d.rahvaarv, 'id:', d.linnId,
 'uued linna andmed:', i.linnanimi, 
'rahvaarv:', i.rahvaarv, 'id:', i.linnId),
SYSTEM_USER
From deleted d INNER JOIN inserted i
ON d.linnId=i.linnId;